.ShiftOver{
    display: flex;
    /* margin-left: 80%;
    margin-top: -7%; */
    justify-content: center;
    align-self: center;
    color: black;
    background-color: blue;
    position: static;
}

.TheTableName{
    text-transform: capitalize;
    font-size: 1.7rem;
}
.TheOrderNameText{
    font-size: 1.5rem;
}

.TheOrderText{
    text-transform: capitalize;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
}